.container-custom {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
}
.container-custom .section {
    width: 100%;
    height: 100%;
    position: relative;
}
.container-custom .section:nth-child(1){
    background: violet;
}
.container-custom .section:nth-child(2){
    background: springgreen;
}
.container-custom .section:nth-child(3){
    background: seagreen;
}